body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./assets/background-2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.avatar {
    width: 100px;
    border-radius: 50%;
}

main {
    text-align: center;
    width: 90%
    max-width: 400%
}

.sosmed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color:#232227;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.sosmed-icon {
    width: 50px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;


}

.arrow img {
    width:16px ;
    height: 16px;
}

.sosmed:hover{
    background-color: #232227;
    color: white;
}

.sosmed-links {
    display: flex;
    flex-direction:column;
    gap: 10px;
}
